body {font-family: "Playfair Display","Ubuntu", san-serif;

 font-size: 14px; 
line-height: 24px;
margin: 0; }

.main-menu {
font-size: 0;
padding: 0px;
text-align: center;
}

.main-menu a {
  display: block;
}

.main-header {
  padding-top: 74px;
  padding-bottom: 102px;
}

.main-menu-item  {

display: inline-block;
margin-right: 110px;

}  

.main-menu-item a:hover{
    color: #03a9f4;
}






html{
    box-sizing:border-box;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
 }

 .container{
    width: 900px;
    margin: 0 auto;
  }
  .list-section {
    font-family: Ubuntu;
    color: #b4ad9e;
    line-height: 17px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 300;
    margin: 0;
    margin-bottom: 26px;
    }

  .content-list{
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 182px;
    font-size: 0;
    
    }
  
  .content-item{
    display: inline-block;
    width: 420px;
    
  }
  
  .content-item:not(:nth-child(2n)){
    margin-right: 60px;
  }
  
  .content-item:not(:nth-last-child(-n + 2)) {
    margin-bottom: 60px;
    }
  
  
  .section-image{
    margin-bottom: 20px;
  }
  
  .article-title{
    margin: 0 ; 
    margin-bottom: 20px; 
    font-size: 30px; 
  }
  
  .article-content{
    margin: 0; 
    font-size: 14px; /*указываем нужный размер шрифта*/
  }

.main-menu-item {
font-size: 14px;
line-height: 24px;
list-style: none;
}
.main-menu-item:last-child {
margin-right: 0;
}

.main-menu a {
    color:#626262;
    text-transform: uppercase;
    text-decoration: none; 
}
 
.list {
    list-style: none;  }




.article-title {
    color:#626262;
    font-size: 30px;
    line-height: 36px;
    margin: 0 ;
    margin-bottom: 20px;
    font-weight: 400;   
  
}


.article-content {
    color:#626262;
    font-size: 14px;
    line-height: 24px;
    
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border:0;
    padding: 0;
    white-space:nowrap;
    clip: rect(0 0 0 0);
    overflow:hidden;
}


.button1 {
    text-align: center;
    font-size: 20px;
    line-height: 24px;
    height: 60px;
    width: 164px;
   display: block;
   margin: 0 auto ;
}
.button1 :hover{
color: #03a9f4;
}
.content {
  padding-bottom: 71px;
}